* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fad8b9;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #1fa1b8;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    color: #1fa1b8;
    font-size: 36px;
    background-color: #59bd99;
    text-align: right;
    padding: 4px;
    padding-right: 2px;
    padding-left: 40px; 
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.aboutme-h2,  .work-h2, .contactme-h2 {
    color: #1fa1b8;
}

#about-me,  #work, #contact {
    flex-direction: row;
  }

.aboutme-section, {
    border-left: 5px solid var(--darkblue);
    border-top: none;
}

@media screen and (max-width: 992px) {
    header {
    }
  }
  
  @media screen and (max-width: 768px) {
       {

    }
  }

  @media screen and (max-width: 576px) {
    }
  }